.content p {
                        color: white;
                        font-size: 20 px;
                }

                #main-title {
                        color: white;
                        font-size: 20px;
                        text-align: center;
                }
                .content {
                        background-color:black;
                }

                .more > article > h3 {
                        font-size: 32px;
                }
